#admin-wrapper
{
	background: #2c3e50;
	max-width: none;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	position: absolute;
}

.admin-logout-link
{
	position: relative;
	float: right;
	margin: auto 20px;
	top: 5px;
}

#admin-header
{
	margin: 0px;
	background: #ecf0f1;
	position: relative;
	padding: 10px;
	height: 60px;
	color: #7f8c8d;
	box-shadow: 0px 0px 25px 10px rgba(48,48,48,0.77);

	z-index: 999999;
}
#admin-header > h1
{
	display: inline-block;
	margin: 0;
	margin-left: 30px;
	font-size: 35px;
}

.side-bar-wrap
{
	background: #ecf0f1;
	position: absolute;
	top: 0px;
	width: 200px;
	bottom: 0;
}
.template-wrapper
{
	background: #2c3e50;
	position: absolute;
	left: 200px;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
}

	.side-bar-list
	{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.side-bar-item
	{
		position: relative;
		border-bottom: 1px solid rgba(52,73,95,0.62);
		padding: 4px 8px 4px 20px;
		color: #27ae60;
		cursor: hand;
		text-transform: lowercase;
		overflow: hidden;
	}
		.side-bar-item:hover
		{
			background: rgba(150,165,166,0.98);
			color: rgba(189,195,199,1);
		}
		.side-bar-item.selected
		{
			background: #2c3e50;
			color: #ecf0f1;
			text-decoration: underline;
		}
		.side-bar-item.selected:before
		{
			content: '';
			position: absolute;
			top: -15px;
			left: 0;
			bottom: -15px;
			right: -15px;
			box-shadow: inset 0px 0px 15px 1px rgba(253,250,250,0.75);
		}
	.side-bar-item-name
	{
		font-size: 15px;
		font-weight: 300;
		vertical-align: middle;
	}
	.side-bar-icon
	{
		margin-right: 20px;
		vertical-align: middle;
	}


/* 	templates */
.template
{
	position: relative;
	z-index: 999;
}
.form-label
{
	position: relative;
	margin: 0px 0px 0px 4px;
	font-weight: 300;
	color: #27ae60;
}
.no-object-alert
{
	text-align: center;
	width: 100%;
	position: relative;
	font-size: 18px;
	font-weight: 400;
	color: #e74c3c;
	display: none;
}
.form-group.collapsed
{
	position: relative;
	margin: 0px 0px 5px 0px;
}
	.form-group.collapsed.has-error > small
	{
		color: #e74c3c;
	}
.half-left
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 48%;
	margin: 10;
	padding: 10;
}
.half-right
{
	position: absolute;
	width: 48%;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 10;
	padding: 10;
}

.current-item-list
{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 400;
}
.current-item-list-item
{
	position: relative;
	background: #ffffff;
	padding: 5px;
	-webkit-transition: all 0.25s linear;
	border-bottom: 1px solid #3e3737;
	border-left: 2px solid #bdc3c7;
	border-right: 2px solid #bdc3c7;
}
.current-item-list-item:first-of-type
{
	border-radius: 5px 5px 0px 0px;
	border-top: 2px solid #bdc3c7;
}
.current-item-list-item:last-of-type
{
	border-radius: 0px 0px 5px 5px;
	border-bottom: 2px solid #bdc3c7;
}
.current-item-list-item:hover, .current-item-list-item.selected
{
	background-color: #e8ebed;
	cursor: hand;

}

.btn
{
	position: relative;
	overflow: hidden;
}
.slide-btn:before
{
	font-family: "Flaticon";
	position: absolute;
	top: 0;
	right: -41px;
	height: 41px;
	width: 41px;
	content: "\e006";
	border-radius: 0px 5px 5px 0px;
	line-height: 35px;
	font-size: 26px;
	-webkit-transition: right 0.4s linear, color 0.25s linear, background 0.25s linear;
	   -moz-transition: right 0.4s linear, color 0.25s linear, background 0.25s linear;
	     -o-transition: right 0.4s linear, color 0.25s linear, background 0.25s linear;
	        transition: right 0.4s linear, color 0.25s linear, background 0.25s linear;
}
.btn-info.slide-btn:before
{
	background: #2980b9;
}
.btn-primary.slide-btn:before
{
	background: #27ae60;
}
.slide-btn:hover:before
{
	right: 0;
}
.slide-btn.selected:before
{
	right: 0;
	background: inherit;
	color: #e67e22;
}

.log-entry-wrapper, .alert-entry-wrapper
{
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	padding: 8px 12px;
	font-size: 13px;
	margin-bottom: 10px;
	color: #ecf0f1;
}
.log-entry-wrapper:last-of-type, .alert-entry-wrapper:last-of-type
{
	margin-bottom: 0px;
}
	.log-type-title
	{
		font-weight: 600;
		color: #3498db;
	}
	.ir-type-title
	{
		font-weight: 600;
		color: #e74c3c;
	}
	.log-guard-name, .log-category
	{
		font-weight: 600;
		color: #16a085;
	}
	.log-log-time, .alert-log-time
	{
		color: #bdc3c7;
	}
	.log-info-sep
	{
		margin: 0px 5px;
	}
	.log-location-name, .alert-location-name
	{
		font-weight: 600;
		color: #3498db;
	}
	.log-log-comment
	{
		word-wrap: break-word;
	}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0;

}

.log-cat-h
{
	padding: 5px;
	border: 2px solid #bdc3c7;
	margin: 0;
	border-radius: 6px;
	margin-bottom: 10px;
	position: relative;
	color: #ecf0f1;
}
	.log-cat-h span
	{
		margin-right: 20px;
		margin-left: 10px;
		color: #7f8c8d;
		cursor: ns-resize;
	}

.m-l-wrap
{
	padding: 5px;
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	margin-bottom: 10px;
	position: relative;
}
	.m-l-wrap:last-of-type
	{
		margin-bottom: 0;
	}
	.m-l-wrap p
	{
		position: relative;
		font-size: 15px;
		display: inline-block;
		vertical-align: text-top;
		margin: 0px 20px 3px 10px;
		color: #7f8c8d;
	}
	.m-l-wrap .conts
	{
		color: #ecf0f1;
	}
	.m-l-wrap .int
	{
		color: #16a085;
		text-decoration: underline;
	}
	.m-l-wrap span
	{
		color: rgba(189,195,199,0.92);
		font-size: 14px;
		position: absolute;
		top: 7px;
		right: 10px;
		cursor: hand;
		margin: 0;
	}
	.m-l-wrap span:hover
	{
		color: #ecf0f1;
	}

#max-int-view > p
{
	color: #e74c3c;
}

.admin-title
{
	font-size: 16px;
	color: #40d47e;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 3px;
}
	.admin-title-sep
	{
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		color: #95a5a6;
		margin: 0px 4px;
	}
	.location-enable-link
	{
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		margin: 0px 4px;
		font-weight: 300;
		cursor: hand;
		text-decoration: underline;
	}
	.location-enable-link.enabled
	{
		color: #e74c3c;
	}
		.location-enable-link.enabled:hover
		{
			color: #c0392b;
		}
	.location-enable-link.disabled
	{
		color: #1abc9c;
	}
		.location-enable-link.disabled:hover
		{
			color: #16a085;
		}

.ir-email-wrap, .adm-wrap, .alert-email-wrap
{
	padding: 5px;
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	margin-bottom: 10px;
	position: relative;
}
	.ir-email-wrap:last-of-type, .adm-wrap:last-of-type
	{
		margin-bottom: 0;
	}
	.ir-email-wrap p, .adm-wrap p, .alert-email-wrap p
	{
		position: relative;
		font-size: 15px;
		display: inline-block;
		vertical-align: middle;
		margin: 3px 20px 3px 10px;
		color: #7f8c8d;
	}
	.ir-email-wrap span, .adm-wrap span, .alert-email-wrap span
	{
		color: rgba(189,195,199,0.92);
		font-size: 14px;
		position: absolute;
		top: 9px;
		right: 10px;
		cursor: hand;
		margin: 0;
		vertical-align: middle;
	}
	.ir-email-wrap span:hover, .adm-wrap span:hover, .alert-email-wrap span:hover
	{
		color: #ecf0f1;
	}

p.select-all
{
	margin: 0px;
	color: #1abc9c;
	opacity: 0.8;
	font-size: 16px;
	margin-top: -15px;
	cursor: pointer;
}
p.select-all:hover
{
	opacity: 1;
	text-decoration: underline;
}
