@font-face {
	font-family: "Flaticon";
	src: url("fonts/flaticon.eot");
	src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon.woff") format("woff"),
	url("fonts/flaticon.ttf") format("truetype"),
	url("fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-calendar133:before {
	content: "\e000";
}
.flaticon-chat-bubble:before {
	content: "\e001";
}
.flaticon-file-download:before {
	content: "\e002";
}
.flaticon-calendar-alert:before {
	content: "\e003";
	font-size: 22px;
}
.flaticon-logout-right:before {
	content: "\e004";
	font-size: 18px;
}
.flaticon-user-shadow:before {
	content: "\e005";
}
.flaticon-more10:before {
	content: "\e006";
}
.flaticon-map-location:before {
	content: "\e007";
}
