/* MAIN STYLES */

body
{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
textarea {
  box-sizing: border-box;
  max-height: 200px; /* optional, but recommended */
  min-height: 31px;
  overflow-x: hidden; /* for Firefox (issue #5) */
}
#copyright-notice
{
	font-size: 16px;
	float: left;
	position: absolute;
	top: 1px;
	right: 10px;
	color: #16a085;
}
#pageWrapper
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	background: #2c3e50;
	overflow: auto;
}
#contentWrapper
{
	position: relative;
	top: 60px;
	padding-bottom: 30px;
	margin: 0px auto;
}
#alert-wrap
{
	position: relative;
	width: 400px;
	margin: 0px auto;
	top: 68px;
}

.no-sel
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.a-no-flat, .a-no-flat
{
	color: inherit;
}

a.highlight-link
{
	text-decoration: underline;
}

.error-text
{
	color: #c0392b;
	font-size: 18px;
}

.dark-hr
{
	margin: 10px 0;
	border-color: #2c3e50;
	opacity: 0.6;
}

/* 404 */
	#error-page-wrap
	{
		position: relative;
		top: 90px;
		padding-bottom: 30px;
		margin: 0px auto;

		z-index: 99;
		text-align: center;
		color: white;
	}
		#error-page-wrap > h2
		{
			font-size: 50px;
			margin: 50px 0px 15px 0px;
		}
		#error-page-wrap > h3
		{
			font-size: 30px;
			margin: 0;
			font-weight: 200;
		}
	.not-found
	{
		margin: 80px -100px;
		position: relative;
		display: table;
		left: 50%;
	}
	.door-back
	{
		z-index: 6;
		position: absolute;
		width: 140px;
		height: 200px;
		background: #e74c3c;
		margin: 0 auto;
		top: 30px;
		left: 30px;
	}
	.door-front
	{
		z-index: 7;
		position: absolute;
		width: 140px;
		height: 220px;
		background: #202a35;
		border-right: 4px solid #2c3e50;
		border-top: 4px solid #2c3e50;
		-webkit-transform-origin: 50% 50%;
		-webkit-transform: perspective(600) rotateY(-45deg);

		top: 20px;
		left: 6px;
	}
	.handle
	{
		z-index: 9;
		position: absolute;
		width: 18px;
		height: 18px;
		background: #2c3e50;
		border-radius: 18px;
		top: 100px;
		left: 100px;

		-webkit-transform-origin: 50% 50%;
		-webkit-transform: perspective(600) rotateY(-45deg);
	}
	.light
	{
		z-index: 5;
		position: absolute;
		width: 60px;
		height: 80px;
		background: rgba(243,197,15,0.32);
		top: 220px;
		left: 93px;

		-webkit-transform-origin: 50% 0%;
		-webkit-transform: perspective(200) rotateX(60deg) skewX(40deg) skewY(30deg);
	}

/* 	header */
	#homeHeaderWrapper
	{
		position: fixed;
		text-align: center;
		color: #7f8c8d;
		background: #ecf0f1;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 0px 0px 25px 10px rgba(48,48,48,0.77);

		z-index: 9999999;
	}
	#homeHeaderWrapper > h1
	{
		font-size: 50px;
		margin: 20px 0px;
	}
	.icon-list
	{
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		top: 32px;
		right: 30px;
		display: inline-block;
		vertical-align: middle;
	}
	.icon-list > li
	{
		display: inline-block;
		margin: 0px 2px;
		cursor: hand;
		font-size: 25px;
	}
	.title-icon
	{
		color: inherit;
		-webkit-transition: all 0.25s linear;
	}
	.title-icon:hover, .title-icon.selected
	{
		color: #3498db;
	}
	.title-wel-user
	{
		float: left;
		font-size: 16px;
		position: absolute;
		left: 25px;
		margin: -8px 0 0 0;
		display: inline-block;
		vertical-align: middle;
		top: 50%;
		color: #3498db;
	}

/* 	footer */
.footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ecf0f1;
	bottom: 0;
	margin: 0;
	padding: 0;
	opacity: 0.7;
	display: inline-block;
	-webkit-transition: all 0.15s linear;

	z-index: 999999999;
}
.footer:hover
{
	opacity: 0.9;
}
.footer-links
{
	margin: 0px 20px;
	padding: 0;
	list-style: none;
	font-size: 16px;
}
li.footer-link
{
	display: inline-block;
	margin: 0px 15px;
}

/* 	login form */
	.formWrap
	{
		text-align: center;
		margin: 100px auto;
		width: 400px;
	}
	.formWrap:before, .location-window:before, .account-window:before
	{
		content: none;
		display: none;
	}

	.location-window, .account-window
	{
		margin: 100px auto;
		max-width: 840px;
		min-height: 200px;
	}
		.location-window > hr
		{
			margin-top: 140px
		}

/* location choise */
	.location-selector-wrap
	{
		background: white;
		border-radius: 9px;
		color: #bdc3c7;
		border: 2px solid transparent;
		cursor: hand;
	}
		.location-selector-wrap:hover
		{
			border-color: #1abc9c;
			color: #1abc9c;
		}

/* location */
	.location-info-wrap
	{
		position: relative;
		background: #34495e;
		color: white;
		margin: 10px 30px 0px 30px;
		padding: 20px;
		border-radius: 6px;

		z-index: 9999;
	}
	.location-info-title
	{
		font-size: 28px;
		margin: 5px 5px;
	}
	.location-info-text
	{
		font-size: 18px;
		margin: 0px 0px 0px 5px;
		font-weight: 200;
		color: #bdc3c7;
	}
	.location-info-sep
	{
		font-size: 20px;
		font-weight: 400;
		margin: 0px 5px;
		opacity: 0.9;
	}

/* location tabs */
	.information-holder
	{
		display: inline-block;
		float: left;
		vertical-align: text-top;
	}

	.tab-holder
	{

	}

	.tab-tool-bar
	{
		border-bottom: 1px solid gray;
		text-align: right;
	}
		.tab-btn
		{
			margin: 0px -2px;
			padding: 6px 14px;
			background: #5dade2;
			color: #fdf3f3;
			cursor: hand;
		}
		.tab-btn:hover, .tab-btn.selected
		{
			color: white;
			background: #48c9b0;
		}
		.tab-btn:first-of-type
		{
			border-radius: 6px 0px 0px 0px;
		}
		.tab-btn:last-of-type
		{
			border-radius: 0px 6px 0px 0px;s
		}
	.tab-body
	{
		padding: 0;
		margin-bottom: 6px;
	}
	.tab
	{
		margin: 0;
		background: white;
		padding: 20px;
	}
	.tab.hidden
	{
		display: none;
	}
	p.current-tab
	{
		display: inline-block;
		text-align: left;
		float: left;
		font-size: 17px;
		font-weight: 200;
		margin: 0 10px;
		top: 10px;
		position: relative;
		color: #2980b9;
	}




	.location-tab-wrapper
	{
		position: relative;
		margin: 0px 30px;
		background: #bdc3c7;
		top: -4px;
	}
	.location-tab-wrapper:first-of-type
	{
		top: 20px;
	}

	.location-tab-header
	{
		position: relative;
		color: rgba(238,242,243,0.78);
		background: rgba(52,73,95,0.64);
		padding: 8px 24px 4px 24px;
		border-bottom: 1px solid rgba(52,73,95,0.75);
		cursor: hand;
	}
	.location-tab-wrapper.open > .location-tab-header, .location-tab-header:hover
	{
		background: #16a085;
		color: white;
	}
		.location-tab-header > p
		{
			margin: 0;
			font-weight: 600;
			border-radius: 0px 0px 6px 6px;
			cursor: hand;
		}
		div.location-tab-header-arrow
		{
			width: 0px;
			height: 0px;
			position: absolute;
			border: 10px solid transparent;
			border-top-color: rgba(255,255,255,0.7);
			top: 16px;
			right: 30px;

			-webkit-transition: all 0.4s linear;
		}
		.location-tab-header:hover > div.location-tab-header-arrow
		{
			border-top-color: white;
		}
		.location-tab-wrapper.open .location-tab-header .location-tab-header-arrow
		{
			border-top-color: transparent;
			border-bottom-color: white;
			top: 6px;
		}
	.location-tab-body
	{
		margin: 20px 20px 0px 20px;
		padding-bottom: 7px;

		-webkit-transition: all 0.6s linear;
	}
	.location-tab-wrapper.closed > .location-tab-body
	{
		height: 0;
		display: none;
	}
	.location-tab-wrapper.open > .location-tab-body
	{
		height: auto;
		display: block;
	}
		i.location-log-label
		{
			margin: 0px 0px 5px 5px;
			font-size: 15px;
		}
	.log-dt-label
	{
		font-size: 15px;
	}

	#new-msg-wrap
	{
		margin-bottom: 28px;
		position: relative;
	}

	#new-msg-wrap span button
	{
		height: 42px;
	}

	/* LOGS */
	.log-filter-wrap
	{
		margin-bottom: 10px;
	}
	.log-filter-wrap > small
	{
		vertical-align: middle;
		font-size: 16px;
		font-weight: 600;
		margin-right: 10px;
	}
	.log-filter-wrap > div
	{
		vertical-align: middle;
	}
	.log-view-wrap > .message-error
	{
		display: none;
	}
	.log-controls-wrap
	{
		height: 0px;
		overflow: hidden;
		display: none;
		z-index: 9999;
	}
	#loading-tasks
	{
		display: none;
	}
	#loading-tasks > .message-error {
		font-size: 16px;
		font-weight: 600;
		margin-top: 40px;
		display: none;
	}
	.log-entry-wrapper
	{
		border: 2px solid #bdc3c7;
		border-radius: 6px;
		padding: 8px 12px;
		font-size: 13px;
		margin-bottom: 10px;
	}
	.log-entry-wrapper:last-of-type
	{
		margin-bottom: 0px;
	}
		.log-type-title
		{
			font-weight: 600;
			color: #3498db;
		}
		.ir-type-title
		{
			font-weight: 600;
			color: #e74c3c;
		}
		.log-guard-name, .log-category
		{
			font-weight: 600;
			color: #16a085;
		}
		.log-log-time
		{
			color: #bdc3c7;
		}
		.log-info-sep
		{
			margin: 0px 5px;
		}
		.log-location-name
		{
			font-weight: 600;
			color: #3498db;
		}
		.log-log-comment
		{
			word-wrap: break-word;
		}


	.filter-error
	{
		font-size: 13px;
		margin: 0 0 -10px 5px;
		color: #e74c3c;
		display: none;
	}

	.account-input[disabled]
	{
		color: green;
	}

/* MESSAGES */

	.message-wrapper
	{
		border-radius: 10px;
		padding: 10px 10px 6px 10px;
		position: relative;
		margin-bottom: 40px;
		overflow: visible;
	}
	.message-wrapper:before
	{
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		margin: 0;
		padding: 0;
		top: 10px;
		border: 15px solid transparent;
		display: block;
	}
		.message-wrapper.from:before
		{
			border-right-color: #ecf0f1;
			left: -25px;
		}
		.message-wrapper.to:before
		{
			border-left-color: #3498db;
			right: -25px;
		}
	.message-wrapper.from
	{
		margin-left: 20px;
		background: #ecf0f1;
		margin-right: 90px;
		color: #4c4747;
	}
		.message-wrapper.from .message-top-wrap .message-sender
		{
			left: 0;
			text-align: left;
		}
		.message-wrapper.from .message-top-wrap .message-timestamp
		{
			right: 0;
			text-align: right;
		}
	.message-wrapper.to
	{
		margin-right: 20px;
		margin-left: 90px;
		background: #3498db;
		text-align: right;
		color: #fdfcfc;
	}
		.message-wrapper.to .message-top-wrap .message-sender
		{
			right: 0;
			text-align: right;
		}
		.message-wrapper.to .message-top-wrap .message-timestamp
		{
			left: 0;
			text-align: left;
		}
	.message-top-wrap
	{
		position: relative;
		margin-bottom: 0px;
		height: 0px;
		padding: 0;
	}
	p.date
	{
		font-size: 12px;
		font-weight: 100;
		margin: 0;
		font-style: italic;
		color: rgba(44,62,80,0.5);
		position: absolute;
		text-align: right;
		margin-top: 5px;
	}
	p.msg-user
	{
		font-size: 12px;
		font-weight: 100;
		margin: 0;
		position: absolute;
		text-align: right;
		top: -20px;
		color: rgba(23,161,134,0.79);
	}
	.message-wrapper.to > p.date, .message-wrapper.to > p.msg-user
	{
		right: 7px;
	}
	.message-wrapper.from > p.date, .message-wrapper.from > p.msg-user
	{
		left: 7px;
	}
	p.message
	{
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 0;
	}
	.message-error
	{
		font-size: 16px;
		text-align: center;
	}

	/* ACCOUNT */
	.account-title
	{
		font-weight: 200;
		margin: 0px;
		color: #7f8c8d;
	}
	.account-username
	{
		margin: 0;
		color: #1abc9c;
	}

	/* LOG INTERVALS */
	.m-l-wrap
	{
		padding: 10px;
		border: 2px solid #bdc3c7;
		border-radius: 6px;
		margin-bottom: 20px;
	}
		.m-l-wrap:last-of-type
		{
			margin-bottom: 0;
		}
		.m-l-wrap p
		{
			position: relative;
			font-size: 18px;
			display: inline-block;
			vertical-align: text-top;
			margin: 0px 30px 3px 15px;
			color: #7f8c8d;
		}
		.m-l-wrap .conts
		{
			color: #2c3e50;
		}
		.m-l-wrap .int
		{
			color: #16a085;
			text-decoration: underline;
		}


/* RESPONSIVE STYLES */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	/* 	header */
	#homeHeaderWrapper > h1
	{
		font-size: 30px;
	}
	#headerWrapper
	{
		text-align: center;
	}
	.icon-list
	{
		position: relative;
		display: inline-block;
		margin: 0;
		top: -10px;
		right: auto;
	}
	#contentWrapper
	{
		top: 100px;
	}
	/* login form */
	.formWrap
	{
		margin: 40px 20px;
		width: auto;
	}

	/* location */
	.location-window
	{
		margin: 100px auto;
		max-width: 840px;
	}
		.location-window > hr
		{
			margin-top: 10px
		}

	.information-holder
	{
		display: block;
		position: relative;
		width: 100%;
	}

	.location-preview
	{
		display: block;
	}
	button.location-report
	{
		margin-top: 10px;
	}

	.message-wrapper.to
	{
		margin-left: 0;
	}
	.message-wrapper.from
	{
		margin-right: 0;
	}
	p.message
	{
		font-size: 15px;
	}

	.title-wel-user
	{
		display: none;
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

	/* login form */
	.formWrap
	{
		margin: 100px auto;
		width: 400px;
	}

	/* location */
	.location-info-wrap
	{
		background: #34495e;
		color: white;
		margin: 30px;
		padding: 20px;
		border-radius: 6px;
	}

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {



}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

}
